#h1 {
text-align: center;
font-family: "Playfair Display SC", monospace;
font-size: 50px;
}
#img {
    display: block;
    margin: auto;
    width: 25%;
    height: auto;
    padding-bottom: 30px;
}
#p {
text-align: center;
font-family: "Amiko", monospace;
font-size: 25px;
font-weight: 400;

}
.h2 {
text-align: center;
font-family: "Prompt", monospace;
font-size: 30px;
}
.li {
font-family: "Amiko", monospace;
font-size: 20px;
}
