#body {
    background-color: #efeaff;
}
.bloom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 40px;
    border-radius: 8px;
    max-width: 15%;
    height: auto;
    
}

.recipes {
    text-align: center;
    font-family: "Permanent Marker", monospace;
    font-size: 80px;
    font-weight: 600px;

}
.intro {
    font-family: "Josefin Slab", monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;

}
.bullets {
    font-family: "Overpass", monospace;
    font-size: 20px;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    text-align: center;

}
.li {
    padding: 1em;
}